.LogoPokemon{
    width: 400px;
    height: 150px;
}

.Pokemon{
    background-image: url("https://preview.redd.it/d9spuwer2c491.png?width=1050&format=png&auto=webp&s=9ca8c75c63da9f8bb134e955d73e2770d073375e");
}

.Pokemon-img{
    width: 200px;
}