
/*-----*/

.DisplayTarjetas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
  }

.TarjetaProducto{
    border: 2px solid black;
    width: 35%;
    border-radius: 20px;
    padding: 10px;
    background-color: rgb(44, 42, 42);
    margin: 30px;

}

.TarjetaProducto-nombre{
    text-align: center;
    height: 100px;
}

.TarjetaProducto-imagen{
    height: 300px;
    display: block;
    margin: auto;

}

.TarjetaProducto-caracteristicas{
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 1.3em;

}

.TarjetaProducto-descripcion{
    margin-bottom: 20px;
}

.TarjetaProducto-descripcion-tit{
    margin-bottom: 0;
}
.TarjetaProducto-descripcion-contenido{
    height: 200px;
    overflow: auto;
}

.fondoBlanco{
    background-color: white;
}
